.App {
  font-family: sans-serif;
  text-align: center;
  width: 35%;
  background-color: rgba(231, 132, 149, 0.795);
  margin: 7vw auto;
  padding: 30px 40px;
  min-height: 21vw;
  box-shadow: 1px 1px 2px 2px gainsboro;
}
button{
  border: none;
  background-color: rgba(125, 123, 133, 0.877);
  color: white;
  padding: 5px 15px;
  font-size: 1.2vw;
  border-radius: 5px;
  cursor: pointer;
}
input{
  height: 20px;
  width: 75%;
  margin-right: 10px;
  padding: 6px;
  font-size: 1.1vw;
}
h1{
  color: white;
  margin: 3vw 0px;
}
#result{
  color: rgb(230, 19, 54);
  margin-top: 3.5vw;
}